.flipcard-container {
    position: relative;
    user-select: none;
    color: white;
    position: relative;
    width: 40%;

    height: max-content;
    width: 100%;
    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 20px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}