body {
	--bg-color: #111827;
	--toolbar-bg-color: #111827AA;
	--toolbar-bd-color: #f9fafb0f;
	--menu-hv-color: #374151;
	--menu-hv-outline: #3b82f6;
	--menu-text-color: #9ca3af;
	--menu-text-hv: #9ca3af;
	--bd-color: #374151;
	--text-color: white;
	--a-color: #4b9de0;
	--a-hv-color: #7dbae9;
	--btn-bd-color: #30363d;
	--bg2-color: #010409;
	--btn-bd-hv-color: #ffffff88;
	--hr-side-color: transparent;
	--hr-center-color: #909090;
}

/* @media (prefers-color-scheme: light) {
	body {
		--bg-color: #f3f4f6;
		--toolbar-bg-color: #fff;
		--toolbar-bd-color: #e9eaec;
		--menu-hv-color: white;
		--menu-hv-outline: #3b82f6;
		--menu-text-color: #6b7280;
		--menu-text-hv: #1f2937;
		--bd-color: #e5e7eb;
		--text-color: black;
		--a-color: #4b9de0;
		--a-hv-color: #7dbae9;
		--btn-bd-color: #d0d7de;
		--bg2-color: #fff;
		--btn-bd-hv-color: #d6d8db;
		--hr-side-color: #fff0;
		--hr-center-color: #A0A0A0;
	}
} */

body {
	margin: 0;
	font-size: 1rem;
	line-height: 1.5rem;

	/* background: url('/img/background.jpg'); */
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	background-color: black;

	--content-max-width: 64rem;
}

#toolbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	z-index: 99999999999;
	background-color: var(--toolbar-bg-color);
	backdrop-filter: blur(16px);
	border: 0.8px solid var(--toolbar-bd-color);
}

nav#navigator {
	display: flex;
	margin-left: auto;
	margin-right: auto;
	max-width: var(--content-max-width);
	justify-content: left;
	align-items: center;
}

.menu {
	padding-top: .5rem;
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
	padding-top: .5rem;
}

.menu-before {
	display: none;
}

.menu>li {
	height: 3rem;
	margin-left: .5rem;
	box-sizing: border-box;
	transition: .1s;
}

.menu>li:hover,
.menu>li.focus {
	border-bottom: solid 2px var(--menu-hv-outline)
}

.menu>li>button,
.menu>li.menu2>button {
	user-select: none;
	color: var(--menu-text-color);
	transition: .1s;
	padding: .5rem;
	border: 0;
	border-radius: .25rem;
	font-size: 100%;
	font-family: inherit;
	line-height: inherit;
	background-color: transparent;
	transition: .2s;
}

.menu>li.menu2 {
	&>button::after {
		content: '▼';
		scale: .9;
		display: inline-block;
		color: var(--menu-text-color);
		--padding-left-right: .5ch;
		padding-left: var(--padding-left-right);
		padding-right: var(--padding-left-right);
		transition: .2s;
	}

	&:hover>button {
		background-color: var(--menu-hv-color);

		&::after {
			rotate: 180deg;
		}
	}

	&>ul {
		display: none;
		position: absolute;
		/* escape from document stream */
		background-color: var(--bg-color);
		border-radius: 3px;
		padding: 10px;
	}

	&>ul>li {
		padding: 8px;
		text-align: center;
		list-style: none;

		&>a {
			text-decoration: none;
			color: var(--menu-text-color);
		}

		&:hover {
			padding: 8px;
			border-radius: 5px;
			transition: .2s;
			cursor: pointer;
			background-color: var(--menu-hv-color);
		}
	}

	&:hover>ul {
		display: block;
	}
}

.menu>li>button:hover {
	color: var(--menu-text-hv);
	background-color: var(--menu-hv-color);
}

#search {
	position: relative;
	display: flex;
	justify-content: center;
	padding-left: .5rem;
	padding-right: .5rem;
	margin-right: -1.5rem;
	margin-left: 1rem;
}

#search>input {
	max-width: 20rem;
	width: 90%;
	border-radius: .375rem;
	font-size: 0.9rem;
	line-height: 1.5rem;
	height: 1.3rem;
	border: solid 0.8px var(--bd-color);
	padding: 8px;
	background-color: var(--bg-color);
	color: var(--text-color);
	padding-right: 56px;
}

#search>input:focus {
	outline: solid 1.5px var(--menu-hv-outline);
}

#search>svg {
	position: relative;
	cursor: pointer;
	width: 2.5rem;
	top: .75rem;
	right: 2.5rem;
	bottom: 0;
}

#container {
	padding: 10px;
}

#content {
	margin: auto;
	margin-top: 5rem;
	color: var(--text-color);
	max-width: var(--content-max-width);
}

a {
	color: var(--a-color);
	text-decoration: underline;
}

a:hover {
	color: var(--a-hv-color);
}

hr {
	border: 0;
	border-radius: 1px;
	height: 1px;
	background: linear-gradient(90deg, var(--hr-side-color), var(--hr-center-color), var(--hr-side-color));
}

@media (max-width: 720px) {
	.headline {
		height: 200px;
	}
}

.headline {
	width: calc(100% - 50px);
	min-height: 400px;
	margin-bottom: 50px;
	padding: 20px;

	background-color: #fff3;
	backdrop-filter: blur(10px);
	border-radius: 6px;
}

#headline {
	height: 400px;
	background-image: linear-gradient(180deg, transparent, var(--bg-color)), url('/img/headline.jpg');
	background-position: center;
	background-size: cover;

	&>h2 {
		margin: 0;
		padding-bottom: 10px;
		text-align: left;
		position: relative;
		top: calc(100% - 3rem);
		left: 1rem;

		color: var(--text-color);
		font-size: 2rem;
		font-weight: 700;
		text-decoration: underline;
		font-size: 2rem;
		font-weight: 700;
		line-height: 2.5rem;
	}
}

#about-us {
	height: max-content;
	padding-top: .1rem;
	padding-bottom: 1rem;
}

div.p {
	margin: 2rem;
	text-indent: 4ch;
	text-align: left;
}

.home-news {
	display: inline-block;
	margin: 20px;
	max-width: max(90vw, 400px);
	max-height: max(100vh, 400px);
	background-color: var(--bd-color);
	border-radius: 6px;
}

#peoples>.p {
	display: inline-block;
	margin: 0;
	margin-left: 10px;
	margin-right: 10px;

	width: max-content;
	height: max-content;
}

#peoples>.p>.home-p {
	&>.avatar-div {
		position: relative;
		display: block;
		width: 100%;
		aspect-ratio: 1/1;

		border-radius: .75rem;
		overflow: hidden;

		--local-width: min(350px, 30vw);
		--local-height: min(350px, 30vh);
		--local-smallest: min(var(--local-width), var(--local-height));
	}

	& img {
		position: relative;
		display: block;
		width: 100%;
		opacity: 0;
		aspect-ratio: 1/1;
	}

	& .avatar-border {
		position: absolute;

		background-image: linear-gradient(166deg, #ff507a, #7d51df 33%, #2265de 66%, #0bc786);
		border-radius: .75rem;
		transition: transform 1s cubic-bezier(.45, .13, .1, 1);
		transform: scale(.96);

		width: 100%;
		height: 100%;
	}

	&:hover .avatar-border {
		transition-duration: 1s;
		transform: scale(1);
	}

	& .avatar {
		position: absolute;
		border-radius: .75rem;

		background-image: var(--img-url), linear-gradient(166deg, #ff507a 0%, #7d51df 33%, #2265de 66%, #0bc786 100%);
		filter: grayscale(1) brightness(1);
		transition-duration: .4s;
		transform: scale(1);
		background-size: cover;
		background-blend-mode: overlay;
		transition: filter .2s linear, transform .5s cubic-bezier(.45, .13, .1, 1);

		width: 100%;
		height: 100%;
	}

	&:hover .avatar {
		filter: grayscale(0) brightness(1.25);
		transform: scale(.96);
	}
}


#peoples>.p:nth-child(odd)>.home-p {
	padding-bottom: var(--padding-diff);
}

#peoples>.p:nth-child(even)>.home-p {
	padding-top: var(--padding-diff);
	clear: both;
}

#peoples>.p>.home-p.show{
	opacity: 1;
	transform: translateY(0);
}

#peoples>.p>.home-p {
	user-select: none;

	--padding-diff: 60px;

	position: relative;
	box-sizing: border-box;
	transition: background-color, border-color 0.2s;
	text-decoration: none;
	cursor: pointer;

	padding: 0;
	border-radius: .75rem;
	text-indent: 0;
	overflow: hidden;

	opacity: 0;
	transform: translateY(30px);
	transition: all .6s cubic-bezier(0.16,1,0.3,1);

	--content-width: min(var(--content-max-width), 90vw);

	width: calc(0.25 * var(--content-width) - 50px);
	@media screen and (max-width: 768px) {
		width: calc(0.5 * var(--content-width) - 25px);
	}

	&>* {
		position: relative;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		border-radius: .75rem;
	}

	& .name {
		margin: 7px;
		margin-top: 1rem;
		margin-bottom: 0.25rem;
		font-weight: 600;
		font-size: 1.25rem;
		line-height: 1.3;

		float: left;
		clear: both;
	}

	& .title {
		margin: 7px;
		color: #8a939e;
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
		font-size: 0.875rem;
		font-weight: 450;
		line-height: 1.5;

		float: left;
		clear: both;
	}
}

#peoples>.p>.home-p .title span {
	line-height: 1;
	display: inline-block;
	margin-bottom: 5px;
}

footer {
	position: relative;
	bottom: -20px;
	margin: 0;
	padding: 1rem;
	color: white;
	overflow: hidden;
	text-align: left;
	background-color: black;
}

#daily-tricks {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	color: gray
}

iframe.bg {
	position: fixed;
	top: 0;
	left: 0;
	border: 0;
	height: 100vh;
	width: 100vw;
	z-index: -2;
}

.sponsor {
	text-align: center;
	margin-bottom: 20px;
	user-select: none;
}

.social-media-links {
	text-align: center;
	margin-bottom: 15px;
	user-select: none;
}

.social-media-links a {
	margin: 0 10px;
	text-decoration: none;
	color: inherit;
	font-size: 24px;
	transition: color 0.3s;
}

footer {
	font-family: "Segoe UI";
}


/* ===== Mobile Style ===== */

.mobile .pc-only {
	display: none;
}

.mobile-only {
	display: none;

	.mobile & {
		display: block;
	}
}

.mobile .menu-before {
	display: block !important;
	position: relative;
	width: 30px;
	height: 30px;
	padding: 0;
	margin-right: 10px;
	border: max(1px, 0.0625rem) solid var(--btn-bd-color);
	border-radius: 6px;
	background-color: var(--bg2-color);
	transition: .2s;
}

.mobile .menu-before:hover {
	border-color: var(--btn-bd-hv-color);
}

.mobile .menu {
	display: none;
	position: absolute;
	right: 0;
	top: 2.5rem;
	background: var(--bg-color);
	border: 1px solid var(--bd-color);
	border-radius: 6px;
	padding: 10px;
	padding-left: 20px;
	padding-right: 10px;
}

.mobile .menu>li {
	text-align: left;
	margin-right: .5rem;
	height: max-content;
	min-height: 2rem;
}

.mobile .menu>li:hover,
.mobile .menu>li.focus {
	border: none !important;

	&>button {
		background-color: transparent;
	}
}

.mobile .menu>li>button {
	padding: 1px;
}

.mobile .menu>li>button:hover {
	background-color: transparent;
	text-decoration: underline;
}

.mobile .menu>li.menu2>ul {
	position: relative;
	border-left: 3px var(--btn-bd-color) solid;
	box-sizing: border-box;
	margin-left: 5px;
	padding: 0;
	margin-top: 10px;
	margin-bottom: 15px;
	border-radius: 0;

	&>li {
		text-align: left;
	}
}