body {
	--bg-color: #111827;
	--toolbar-bg-color: #111827AA;
	--toolbar-bd-color: #f9fafb0f;
	--menu-hv-color: #374151;
	--menu-hv-outline: #3b82f6;
	--menu-text-color: #9ca3af;
	--menu-text-hv: #9ca3af;
	--bd-color: #374151;
	--text-color: white;
	--a-color: #4b9de0;
	--a-hv-color: #7dbae9;
	--btn-bd-color: #30363d;
	--bg2-color: #010409;
	--btn-bd-hv-color: #ffffff88;
	--hr-side-color: var(--bg-color);
	--hr-center-color: #909090;
}

@media (prefers-color-scheme: light) {
	body {
		--bg-color: #f3f4f6;
		--toolbar-bg-color: #fff;
		--toolbar-bd-color: #e9eaec;
		--menu-hv-color: white;
		--menu-hv-outline: #3b82f6;
		--menu-text-color: #6b7280;
		--menu-text-hv: #1f2937;
		--bd-color: #e5e7eb;
		--text-color: black;
		--a-color: #4b9de0;
		--a-hv-color: #7dbae9;
		--btn-bd-color: #d0d7de;
		--bg2-color: #fff;
		--btn-bd-hv-color: #d6d8db;
		--hr-side-color: #fff0;
		--hr-center-color: #A0A0A0;
	}
}

body {
	margin: 0;
	background-color: var(--bg-color);
	font-size: 1rem;
	line-height: 1.5rem;
}

#toolbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	z-index: 99999999999;
	background-color: var(--toolbar-bg-color);
	backdrop-filter: blur(16px);
	border: 0.8px solid var(--toolbar-bd-color);
}

nav#navigator {
	display: flex;
	margin-left: auto;
	margin-right: auto;
	max-width: 64rem;
	justify-content: left;
	align-items: center;
}

.menu {
	padding-top: .5rem;
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
	padding-top: .5rem;
}

.menu-before {
	display: none;
}

.menu>li {
	height: 3rem;
	margin-left: .5rem;
	box-sizing: border-box;
	transition: .1s;
}

.menu>li:hover,
.menu>li.focus {
	font-weight: 700;
	border-bottom: solid 2px var(--menu-hv-outline)
}

.menu>li>button {
	color: var(--menu-text-color);
	transition: .1s;
	padding: .5rem;
	border: 0;
	border-radius: .25rem;
	font-size: 100%;
	font-family: inherit;
	line-height: inherit;
	background-color: transparent;
	transition: .2s;
}

.menu>li>button:hover {
	color: var(--menu-text-hv);
	background-color: var(--menu-hv-color);
}

#search {
	position: relative;
	display: flex;
	justify-content: center;
	padding-left: .5rem;
	padding-right: .5rem;
	margin-right: -1.5rem;
	margin-left: 1rem;
}

#search>input {
	max-width: 20rem;
	width: 90%;
	border-radius: .375rem;
	font-size: 0.9rem;
	line-height: 1.5rem;
	height: 1.3rem;
	border: solid 0.8px var(--bd-color);
	padding: 8px;
	background-color: var(--bg-color);
	color: var(--text-color);
	padding-right: 56px;
}

#search>input:focus {
	outline: solid 1.5px var(--menu-hv-outline);
}

#search>svg {
	position: relative;
	cursor: pointer;
	width: 2.5rem;
	top: .75rem;
	right: 2.5rem;
	bottom: 0;
}

#container {
	padding: 10px;
}

#content {
	margin: auto;
	margin-top: 5rem;
	color: var(--text-color);
	max-width: 64rem;
}

a {
	color: var(--a-color);
	text-decoration: underline;
}

a:hover {
	color: var(--a-hv-color);
}


/* ===== Mobile Style ===== */

.mobile .menu-before {
	display: block !important;
	position: relative;
	width: 30px;
	height: 30px;
	padding: 0;
	margin-right: 10px;
	border: max(1px, 0.0625rem) solid var(--btn-bd-color);
	border-radius: 6px;
	background-color: var(--bg2-color);
	transition: .2s;
}

.mobile .menu-before:hover {
	border-color: var(--btn-bd-hv-color);
}

.mobile .menu {
	display: none;
	position: absolute;
	right: 0;
	top: 2.5rem;
	background: var(--bg-color);
	border: 1px solid var(--bd-color);
	border-radius: 6px;
	padding: 10px;
	padding-left: 20px;
	padding-right: 10px;
}

.mobile .menu>li {
	text-align: left;
	margin-right: .5rem;
	height: 2rem;
}

.mobile .menu>li:hover,
.mobile .menu>li.focus {
	font-weight: 700;
	border: none !important;
}

.mobile .menu>li>button {
	padding: 1px;
}

.mobile .menu>li>button:hover {
	background-color: transparent;
	text-decoration: underline;
}

hr {
	border: 0;
	border-radius: 1px;
	height: 1px;
	background: linear-gradient(90deg, var(--hr-side-color), var(--hr-center-color), var(--hr-side-color));
}

.headline {
	width: calc(100% - 50px);
	min-height: 400px;
	margin-bottom: 50px;

	@media (max-width: 720px) {
		height: 200px;
	}

	background-color: var(--bd-color);
	border-radius: 6px;
}

#headline {
	height: 400px;
	background-image: linear-gradient(180deg, transparent, var(--bg-color)), url('/img/headline.png');
	background-size: cover;

	&>h1 {
		margin: 0;
		padding-bottom: 10px;
		text-align: left;
		position: relative;
		top: calc(100% - 3rem);
		left: 1rem;

		font-size: 2rem;
		font-weight: 700;
		text-decoration: underline;
		font-size: 2rem;
		font-weight: 700;
		line-height: 2.5rem;
	}
}

#about-us {
	padding-top: .1rem;
	padding-bottom: 1rem;
}

p {
	margin: 2rem;
	text-indent: 4ch;
	text-align: left;
}

.home-news {
	display: inline-block;
	margin: 20px;
	max-width: max(90vw, 400px);
	max-height: max(100vh, 400px);
	background-color: var(--bd-color);
	border-radius: 6px;
}