body{
	--bg-color: #111827;
	--toolbar-bg-color: #111827AA;
	--toolbar-bd-color: #f9fafb0f;
	--menu-hover-underline: #3b82f6;
	--menu-text-color: #9ca3af;
	--menu-hv-bg-color: #374151;
}

@media (prefers-color-scheme: light){
	body{
		--bg-color: #f5f5f5;
	}
}

body {
	margin: 0;
	background-color: var(--bg-color);
	font-size: 1rem;
	line-height: 1.5rem;
}

#toolbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	/* overflow: hidden; */
	background-color: var(--toolbar-bg-color);
	backdrop-filter: blur(16px);
	border: 0.8px solid var(--toolbar-bd-color);
}

nav#navigator {
	display: flex;
	margin-left: auto;
	margin-right: auto;
	max-width: 64rem;
	justify-content: left;
	align-items: center;
}

.menu {
	padding-top: .5rem;
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
	padding-top: .5rem;
}

.menu-before {
	display: none;
}

.menu>li {
	height: 3rem;
	margin-left: .5rem;
	box-sizing: border-box;
	transition: .2s;
}

.menu>li:hover,
.menu>li.focus {
	font-weight: 700;
	border-bottom: solid 2px var(--menu-hover-underline)
}

.menu>li>button {
	color: var(--menu-text-color);
	transition: .1s;
	padding: .5rem;
	border: 0;
	border-radius: .25rem;
	font-size: 100%;
	font-family: inherit;
	line-height: inherit;
	background-color: transparent;
	transition: .2s;
}

.menu>li>button:hover {
	background-color: var(--menu-hv-bg-color);
}

#search {
	position: relative;
	display: flex;
	justify-content: center;
	padding-left: .5rem;
	padding-right: .5rem;
	margin-right: -1.5rem;
	margin-left: 1rem;
}

#search>input {
	max-width: 20rem;
	width: 90%;
	border-radius: .375rem;
	font-size: 0.9rem;
	line-height: 1.5rem;
	height: 1.3rem;
	border: solid 0.8px rgb(55 65 81);
	padding: 8px;
	background-color: #111827;
	color: white;
	padding-right: 56px;
}

#search>input:focus {
	outline: solid 1.5px #3b82f6;
}

#search>svg {
	position: relative;
	cursor: pointer;
	width: 2.5rem;
	top: .75rem;
	right: 2.5rem;
	bottom: 0;
}

#container {
	padding: 10px;
}

#content {
	margin: auto;
	margin-top: 5rem;
	color: white;
	max-width: 64rem;
}

a {
	color: #4b9de0;
	text-decoration: underline;
}

a:hover {
	color: #7dbae9;
}


/* ===== Mobile Style ===== */

.mobile .menu-before {
	display: block !important;
	position: relative;
	width: 30px;
	height: 30px;
	padding: 0;
	margin-right: 10px;
	border: max(1px, 0.0625rem) solid #30363d;
	border-radius: 6px;
	background-color: #010409;
	transition: .2s;
}

.mobile .menu-before:hover {
	border-color: #ffffff88;
}

.mobile .menu {
	display: none;
	position: absolute;
    right: 0;
    top: 2.5rem;
    background: #111827;
    border: 1px solid #374151;
    border-radius: 6px;
	padding: 10px;
	padding-left: 20px;
	padding-right: 10px;
}

.mobile .menu>li{
	text-align: left;
	margin-right: .5rem;
	height: 2rem;
}
.mobile .menu>li:hover,
.mobile .menu>li.focus {
	font-weight: 700;
	border: none !important;
}
.mobile .menu>li>button{
	padding: 1px;
}
.mobile .menu>li>button:hover {
	background-color: transparent;
	text-decoration: underline;
}

hr{
	border: 0;
	border-radius: 1px;
	height: 2px;
	background: linear-gradient(90deg, #808080, #909090, #808080);
	/* max-width: 600px; */
}
