body {
	margin: 0;
	display: flex;
	justify-content: center;
}

.collection {
	background-color: #374151;
	padding: 10px;
	font-family: 'Times New Roman', Times, serif;
	margin-top: 20px;
	margin-bottom: 20px;
}

.collection>* {
	margin: auto;
}

.collection>span.time {
	display: block;
	color: grey;
	font-size: 0.7ch;
}

.collection>img {
	max-height: 50vh;
	max-width: min(100%, 700px);
	border: solid 1px black;
	margin: 10px;
}